@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

header {
    display: block;
    background-color: #C00000;
}

menu {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 1200px;
    bottom: 57px;
    display: block;
    background-color: #C00000;
}

menu > a {
    margin: 2.2px;
    color: white;
    text-decoration: none;
}

menu > a:hover {
    color: rgb(207, 207, 207);
    text-decoration: underline;
}

main > h1 {
    font-family: Arial, Helvetica, sans-serif;
}