@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #C00000;
    height: 75px;
}

header > img {
    padding: 3px;
}

header > i#usuario {
    display: block;
    color: white;
    position: relative;
    max-width: 38px;
    left: 330px;
    bottom: 66px;
    cursor: pointer;
}

header > i#menu {
    display: block;
    color: white;
    position: relative;
    max-width: 38px;
    left: 295px;
    bottom: 43px;
    cursor: pointer;
}

header > menu {
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    background-color: #ad0000;
    max-width: 110px;
    max-height: 150px;
    left: 264px;
    bottom: 60px;
}
 
header > menu > a {
    margin: 2.2px;
    color: white;
    text-decoration: none;
}

header > menu > a:hover {
    color: rgb(207, 207, 207);
    text-decoration: underline;
}

main > h1 {
    font-family: Arial, Helvetica, sans-serif;
}